services:
  app:
    container_name: ebt-docker-workflow
    image: bbgrabbag/ebt-cli:5.0.0
    volumes:
      - .:/workspace
    working_dir: /workspace
    stdin_open: true
    tty: true
    command: /bin/bash
