version: '3.8'
services:
  app:
    container_name: ebt-docker-workflow
    image: bbgrabbag/ebt-cli:999-0.0.1.dev
    volumes:
      - .:/workspace
    working_dir: /workspace
    stdin_open: true
    tty: true
    command: /bin/bash
